body {
    font-family: 'Arial', sans-serif;
    color: #0a0a0a;
    margin: 0;
    padding: 20px;
    /*background-color: #f4f4f4;  /* Light grey*/
    background-color: #2e2e2e; /* Dark grey*/
    /*background-image: url('../img/univers.png');*/
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}


header {
    display: flex; /* Enables Flexbox layout for child elements */
    justify-content: center; /* Horizontally centers child elements */
    flex-wrap: wrap; /* Allows child elements to wrap onto multiple lines as needed */
    gap: 20px; /* Adds space between child elements */
    text-align: left; /* Aligns text and child elements to the left */
}

footer {
    width: 98%;
    margin: 20px auto 0 auto; 
    padding: 5px;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    color: #000000; /* Black text */
    border-radius: 20px; /* 20px rounded corners */
    font-size: 14px; /* Larger text size */
}

form {
    display: flex; /* Activates Flexbox layout to align the input field and button */
    align-items: center; /* Vertically centers the elements within the form */
    gap: 10px; /* Space between the input field and the button */
}

/* Additional styles to ensure a consistent appearance */
input[type="text"] {
    flex-grow: 1; /* Allows the text input to take up the available space */
    padding: 8px;
    border-radius: 20px; /* Rounded corners for the text input */
    border: 1px solid #ddd; /* Subtle border for a refined look */
}


/*Search bar*/
#searchInput {
    width: 50%; /* Specifies the width of the search bar */
    padding: 8px; /* Internal padding to make the search bar taller */
    font-size: 16px; /* Increases font size for readability */
    border: 1px solid #ddd; /* Fine, less obtrusive border for the search bar */
    border-radius: 20px; /* Rounded borders for the search bar */
    margin-top: 20px; /* Space above the search bar */
}

/* Styles for the bookmarks section */
#bookmarksSection {
    /* max-width: 960px;  */
    padding-top: 10px; 
}

/* Styles for the bookmarks container */
#bookmarksContainer {
    margin: 0 auto;  /* Center the container */
    padding: 10px; /* Inner space around the Masonry grid items */
}

/* Styles for individual bookmark boxes */
.encart {
    width: 180px; /* Set a fixed width */
    margin-bottom: 15px;  /*Space between items */
    background-color: #fff; /* Background color for the boxes */
    border: 1px solid #ddd; /* Border for the boxes */
    border-radius: 8px; /* Rounded corners for the boxes */
    padding: 10px; /* Padding inside the boxes */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle 3D effect shadow */
}

/* Styles for headings, paragraphs, and links inside bookmark boxes */
.encart h2, .encart p, .encart a {
    min-height: 0; /* If there's a minimum height, set it to 0 */
}

/* Styles for headings inside bookmark boxes */
.encart h2 {
    color: #666;
    font-size: 16px;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Styles for links inside bookmark boxes */
.encart a {
    color: #333;
    text-decoration: none;
}

/* Hover styles for links inside bookmark boxes */
.encart a:hover {
    text-decoration: underline;
}

/* Styles for unordered lists */
ul {
    list-style-type: none; /* This removes bullets for all lists */
}

/* Styles for list items */
li {
    list-style-type: none; /* Ensures bullets are removed for each list item */
}

/* Styles for favicon images */
.favicon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}


/* Styles for bookmark titles */
.bookmark-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Adjust this width according to the available width in your boxes */
}

/* Styles for lists inside bookmark boxes */
.encart ul {
    list-style: none; /* Ensures no bullets are displayed */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

/* Styles for list items inside bookmark boxes */
.encart li {
    display: flex; /* Uses flexbox for proper alignment of elements */
    align-items: center; /* Vertically centers the items */
    margin-bottom: 5px; /* Adds some space between items */
}

/* Styles for favicon images inside bookmark boxes */
.encart img.favicon {
    margin-right: 8px; /* Adds space between the icon and the text */
}

/* Styles for bookmark titles */
.bookmark-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; /* Allows text to take up available space */
    max-width: 150px; /* Or adjust as needed */
}

/* Styles for folders */
.folder {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Adds some space below the folder title */
}

/* Styles for folder titles */
.folder-title {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pousse la flèche à droite */
    padding-right: 5px; /* Espace pour la flèche */
    box-sizing: border-box;
    width: 100%;
}

/* Styles for images inside folder titles */
.folder-title img {
    margin-right: 5px; /* Spacing between the icon and text */
}

/* Styles for folder items */
.folder-item {
    margin-top: 5px; /* Spacing between folder items */
}

/* Styles for the toggle folder */
.toggle-folder {
    cursor: pointer; /* Changes cursor to indicate it's clickable */
    user-select: none; /* Prevents text selection to improve user experience */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; /* Prend tout l'espace disponible */
    margin-right: 5px; /* Espace entre le texte et la flèche */
}

/* Styles for the content inside folders */
.folder-content {
    display: none; /* Hides content of sub-folders by default */
    padding-left: 20px; /* Indentation to distinguish folder content from its title */
}

/* Styles for the collapsible folder icon (add your own icon if necessary) */
.folder-icon {
    flex-shrink: 0; /* The icon does not shrink */
    margin-right: 5px;
}

/* When folder is open, rotate the icon */
.folder-content-shown + .folder-title .folder-icon {
    transform: rotate(90deg);
}

/* Styles for folder toggles */
.folder-toggle {
    cursor: pointer;
    flex-shrink: 0; /* The arrow does not shrink */
    display: inline-block;
    margin-left: auto; /* Force la flèche à l'extrême droite */
    /*color: #eec549; /* Yellow color for the toggle arrow */
    color: #f7d100; /* nice yellow*/
}

/* Styles for open folders */
.folder-open .folder-toggle {
    transform: rotate(90deg); /* Rotates arrow 180 degrees to point upwards */
}

/* Apply transformation to flip the arrow */
.folder-toggle.folder-open {
    transform: scaleY(-1);
}



/* Screens around 14 inches to 17 inches (e.g., HD and Full HD resolutions) */
@media (min-width: 1280px) {
    #bookmarksSection {
        padding-top: 20px;
    }
}

/* Screens around 18 inches to 22 inches */
@media (min-width: 1680px) {
    #bookmarksSection {
        padding-top: 30px;
    }
}

/* Screens around 23 inches to 28 inches */
@media (min-width: 1920px) {
    #bookmarksSection {
        padding-top: 40px;
    }
}

/* Very large screens, over 28 inches */
@media (min-width: 2560px) {
    #bookmarksSection {
        padding-top: 50px;
    }
}
